# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Generated QR codes
docs/examples/
outputs/
static/generated/*.png

# Development tools
generate_icons.html

# Plik z danymi środowiskowymi (np. klucze API) – nie commitować!
.env